

/* :root {
  --blood-red: #880808;
  --blood-red-light: #b71414;

}

.bg-blood_red-primary {
  background-color: var(--blood-red);
}

.bg-blood_red-secondary {
  background-color: var(--blood-red-light);
}

.color-boold_red {
    color: var(--blood-red);
} */